* {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

main {
  padding: 36px 0;
}

.form {
  width: 371px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}
input {
  gap: 8px;
  width: 272px;
  border: 1px solid #808080;
  border-radius: 4px;
  color: #808080;
  padding: 8px 16px;
}
input:hover {
  border: 1px solid #000;
}
input:focus {
  border: 1px solid #4e75ff;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn:hover {
  background: #6c8cff;
}
.gallery {
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
}
.gallery-item {
  border: 1px solid #808080;
  flex-basis: calc((100% - 2 * 48px) / 3);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.gallery-link {
  height: 150px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-info {
  width: 100%;
  height: 48px;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.image-info > p {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.image-info .label {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #ff3d00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
